/* ////////////////  КНОПКИ НАВИГАЦИИ  ////////////////////// */
/* Выделение кнопки навигации "Клиенты" */
body.clients #nav-clients{
    background-color: #4CAF50;
    color: white;
}
body.clients-add #nav-clients-add{
  background-color: #4CAF50;
  color: white;
}

/* Выделение кнопки навигации "Сотрудники" */
body.staff #nav-staff{
    background-color: #4CAF50;
    color: white;
}
body.staff-add #nav-staff-add{
  background-color: #4CAF50;
  color: white;
}

/* Выделение кнопки навигации "Ski-pass" */
body.ski_pass #nav-ski_pass{
    background-color: #4CAF50;
    color: white;
}
body.ski_pass-add #nav-ski_pass-add{
  background-color: #4CAF50;
  color: white;
}

/* Выделение кнопки навигации "Услуги" */
body.services #nav-services{
    background-color: #4CAF50;
    color: white;
}
body.services-add #nav-services-add{
  background-color: #4CAF50;
  color: white;
}

/* Выделение кнопки навигации "Оборудование" */
body.equepment #nav-equepment{
    background-color: #4CAF50;
    color: white;
}
body.equepment-add #nav-equepment-add{
  background-color: #4CAF50;
  color: white;
}

/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #4C98AF;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Показать выпадающее меню при наведении курсора */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
  .dropdown:hover .dropbtn {
    background-color: #3c7688 ;
  }
/* ////////////////  КНОПКИ НАВИГАЦИИ  ////////////////////// */

/* ////////////////  ТАБЛИЦЫ  ////////////////////// */
/* внешние границы таблицы серого цвета толщиной 1px */
table {
    border: 1px solid grey;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    text-align: center;
 }
 /* границы ячеек первого ряда таблицы */
 th {
    border: 1px solid grey;
    padding: 5px;
 }
 /* границы ячеек тела таблицы */
 td {
    border: 1px solid grey;
    padding: 5px;
 }
 /* ////////////////  ТАБЛИЦЫ  ////////////////////// */

 .error {
    text-align: center;
    font-size: 40px;
    color: #ff0000;
    font-weight: bold;
 }

 .wrapper {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
  max-width: 500px;
}
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}
.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}
.form-row > input {
  flex: 2;
}
.form-row > input,
.form-row > button {
  padding: 7px;
}
.form-row > button {
  background: gray;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
}
.form-row > button:hover {
  background: rgb(82, 82, 82);
}