.choose a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.choose a:hover:not(.active) {
    background-color: gray;
}

.choose a.active {
    background-color: darkgray;
}