.choose {
    display: flex;
    justify-content: center;
}

.choose a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #808080;
    margin: 0px 10px;
    border-radius: 10px;
}

.choose a:hover {
    background-color: #505050;
}